{% extends 'base.html.twig' %}

{% block title 'Vide ton sac' %}

{% block body %}

    <div class="jumbotron text-center">

        <h1>Vide ton sac</h1>
            <p>Effets pas ch(i)ers</p>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for Property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('Property.show', {id: Property.id, slug: Property.slug}) }}"><div class="text-info">{{ Property.title }}</div></a>
                        </h5>
                            <p class="card-text">{{ Property.lieu }}</p>
                        <div class="text-info" style="font-weight: bold;font-size: 1.5em;">{{ Property.formatedPrice }} € </div>
            </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}