{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.title) }}</div>
    <div class="col-md-4">{{ form_row(form.prix) }}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.lieu) }}</div>
</div>

{{ form_rest(form) }}
<button class="btn btn-info">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}