{% extends 'base.html.twig' %}

{% block title Property.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <h1>{{ Property.title }}</h1>
                    <div class="text-primary" style="font-size: 4rem;font-weight:bold;">{{ Property.formatedPrice }} €</div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#navbarSupported">
                        <span class="">Contacter le vendeur</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupported">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if current_vendeur is defined and current_vendeur == 'vendeur' %}active{% endif %}">{{ vendeur.getName() }}</a>
                                <a class="nav-link {% if current_vendeur is defined and current_vendeur == 'vendeur' %}active{% endif %}">{{ vendeur.getMail() }}</a>
                                <a class="nav-link {% if current_vendeur is defined and current_vendeur == 'vendeur' %}active{% endif %}">{{ vendeur.getPhone() }}</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">


        <div class="row">
            <div class="col-md-8">
                <h3>Caractérisques & Spécificités</h3>
                <table class="table table-striped">
                    <tr>
                        <td>Description</td>
                        <td>{{ Property.description | nl2br }}</td>
                    </tr>
                    <tr>
                        <td>Prix</td>
                        <td>{{ Property.formatedPrice }} €</td>
                    </tr>
                    <tr>
                        <td>Lieu</td>
                        <td>{{ Property.lieu }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

{% endblock %}

